[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
loguru = "*"
python-dotenv = "*"
requests = "*"

[dev-packages]
black = "*"
pre-commit = "*"
flake8 = "*"
isort = "*"
mypy = "*"

[scripts]
flake8 = "flake8 --max-line-length=120 --ignore=W503,E203 --max-complexity=15 de_codes/"
black = "python -m black --fast de_codes/"
sort_imports = "pipenv run isort --profile black de_codes/"
mypy = "python -m mypy de_codes/"
check_imports = "pipenv run isort --profile black de_codes/ -c"
pre = "${SHELL} -c 'pipenv run black && pipenv run mypy && pipenv run flake8 && pipenv run check_imports'"
